<form (submit)="ajouterListe()">
    <input type="text" [(ngModel)]="nomListe" placeholder="Nom nouvelle liste" name="nomListe">
    <button type="submit" [disabled]="!nomListe.trim()">Ajouter</button>
</form>

<select [(ngModel)]="listeSelectionnee">
    <option *ngFor="let liste of listes$ | async" [ngValue]="liste">{{liste.title}}</option>
</select>

<button [disabled]="!listeSelectionnee" (click)="supprimerListe()">Supprimer la liste</button>

<form (submit)="ajouterTodo()" *ngIf="listeSelectionnee">
    <input type="text" [(ngModel)]="nomTodo" placeholder="Nom nouvelle tâche" name="nomTache">
    <button type="submit" [disabled]="!nomTodo.trim()">Ajouter</button>
</form>

<ul>
    <li *ngFor="let todo of todos$ | async">
        <input type="checkbox" [(ngModel)]="todo.done" (ngModelChange)="mettreAJourTodo(todo)">
        {{todo.title}}
        <button (click)="supprimerTodo(todo)">&times;</button>
    </li>
</ul>